.footer {
    /* background-color: #3f130f; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(185, 175, 175);
    padding: 50px 0 0;
    gap: 30px;
    width: 90%;
    margin: 0 auto;
}

.footer__box-icons {
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #3f130f;
    border-radius: 50%;
}

.footer__icon {
    filter: invert(1);
    font-size: 2rem;
    color: white;
}

.footer__text {
    width: 100%;
    text-align: center;
    color: #000;
}
